<div class="container">
  <button mat-raised-button color="primary" routerLink="/" class="nav-button">
    View Posts
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <form [formGroup]="addPostForm" (submit)="handleSubmit()">
    <h2>Add a Post</h2>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <ngx-mat-file-input formControlName="fileUpload" [multiple]="true" accept="image/*, .pdf, .doc">
      </ngx-mat-file-input>
   </mat-form-field>

    <button mat-raised-button color="accent">Submit</button>
  </form>
</div>